Confusion Matrix
	Freddie Include	Freddie Exclude
API Include	0	0
API Exclude	2	15
Performance Metrics

True Positives (TP): 0

True Negatives (TN): 15

False Positives (FP): 0

False Negatives (FN): 2

Accuracy: 88.2%

Precision: 0%
